/* =========== VARIABLES AND GENERAL STYLE IS AVAILABLE IN general.css file =========== */

/* =========== SCROLL TO TOP =========== */
.scroll__top{
  position: fixed;
  z-index: 999;
  right: -1rem;
  bottom: 3.2rem;
  font-size: 2rem;
  color: #fff;
  background: var(--primary-color);
  border: none;
  opacity: 0;
  padding: 0.8rem;
  transition: opacity 400ms linear, 
  right 400ms linear;
}

.scroll__top.is-visible{
  opacity: 1;
  right: 2rem;
}


/* =========== FIXING SAFARI FLEXBOX GAP =========== */
.no-flexbox-gap .main-nav-list li:not(:last-child) {
  margin-right: 4.8rem;
}

.no-flexbox-gap .list-item:not(:last-child) {
  margin-bottom: 1.6rem;
}

.no-flexbox-gap .list-icon:not(:last-child) {
  margin-right: 1.6rem;
}

.no-flexbox-gap .delivered-faces {
  margin-right: 1.6rem;
}

.no-flexbox-gap .meal-attribute:not(:last-child) {
  margin-bottom: 2rem;
}

.no-flexbox-gap .meal-icon {
  margin-right: 1.6rem;
}

.no-flexbox-gap .footer-row div:not(:last-child) {
  margin-right: 6.4rem;
}

.no-flexbox-gap .social-links li:not(:last-child) {
  margin-right: 2.4rem;
}

.no-flexbox-gap .footer-nav li:not(:last-child) {
  margin-bottom: 2.4rem;
}